<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the home page</h1>
    <h3><%= ["hello","namaste","bonjour"][0]; %></h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae placeat provident voluptates non quis nihil qui suscipit sunt reiciendis obcaecati! Assumenda odio alias numquam dignissimos commodi, repellat veniam? Minus, incidunt?</p>
    <button>Click Me!</button>
</body>
</html>